{% extends "layout.html" %}

{% block content %}
{% include 'toast.html' %}
<div class="container">

    <h2 class="mb-4 mt-2 text-center">Add Problem</h2>

    <!-- Problem Form -->
    <div class="card mb-4">
        <div class="card-header">Add Problem</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="problem_title" class="form-label">Problem Title</label>
                    <input type="text" class="form-control" id="problem_title" name="problem_title" required>
                </div>
                
                <div class="mb-3">
                    <label for="problem_statement" class="form-label">Problem Description</label>
                    <textarea class="form-control" id="problem_statement" name="problem_statement" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="correct_solution" class="form-label">Correct Solution</label>
                    <textarea class="form-control" id="correct_solution" name="correct_solution" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="problem_ip" class="form-label">Input Format</label>
                    <input type="text" class="form-control" id="problem_ip" name="problem_ip" required>
                </div>
                <div class="mb-3">
                    <label for="problem_op" class="form-label">Output Format</label>
                    <input type="text" class="form-control" id="problem_op" name="problem_op" required>
                </div>
                <div class="mb-3">
                    <label for="problem_sip" class="form-label">Sample Input</label>
                    <input type="text" class="form-control" id="problem_sip" name="problem_sip" required>
                </div>
                <div class="mb-3">
                    <label for="problem_sop" class="form-label">Sample Output</label>
                    <input type="text" class="form-control" id="problem_sop" name="problem_sop" required>
                </div>
                <div class="mb-3">
                    <label for="test_case" class="form-label">Paste Test Cases (JSON Format)</label>
                    <p><b>Example</b><br>[<br>
                        {<br>
                        "input":[2,5],<br>
                        "expected_output":7<br>
                        }<br>]</p>
                    <textarea class="form-control" id="test_case" name="test_case" rows="10" cols="50" required></textarea>
                </div>
                <div class="row">
                  
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Save Problem</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
   
</div>
{% endblock %}