<!DOCTYPE html>
<html>
  <head>
    <title>Codecheck</title> 
    {% include 'bootstrap.html' %}
    {% include 'codemirror.html' %}
  </head>
  <body style="background:#ededf8;">
    {% include 'nav.html' %}
    {% block content %}
        {% if messages %}
            <div>
          {% include 'toast.html' %}
        </div>
        {% endif %}
    {% endblock %}
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>